@font-face {
  font-family: "iconfont"; /* Project id 3472636 */
  src: url('iconfont.woff2?t=1659328273538') format('woff2'),
       url('iconfont.woff?t=1659328273538') format('woff'),
       url('iconfont.ttf?t=1659328273538') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi1:before {
  content: "\e723";
}

.icon-xitongfanhui:before {
  content: "\e6b6";
}

.icon-geren:before {
  content: "\e680";
}

.icon-redu:before {
  content: "\e617";
}

.icon-geren1:before {
  content: "\e624";
}

.icon-gouwuche1:before {
  content: "\e607";
}

.icon-gouwuche:before {
  content: "\e65e";
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-dingdan:before {
  content: "\e897";
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-faxian:before {
  content: "\e8af";
}

